### 

**Version**  :- 1

**Author**   :- Mayur Ingole

**Date**    :- 17 jan 2023 

**Time**     :- 3:49 AM IST

**Contact**  :- myringole@gmail.com

**Linkedin** :- https://www.linkedin.com/in/mayur-balkrishna-ingole-415386170/

### Task Performed :
    1.Create Data dictionary
    2.Load all 16 Datasets
    3.Labeled it as F and NF
    4.Sampled Data for 
       10000 for F
       10000 for NF
    5.Create new sapled dtframe

### Data dictionary
    ¬ßTime: Time of real measurement in seconds. The average sampling is ùëá! = 9.9989 ùúáùë†.
    ¬ß Ipv: PV array current measurement.
    ¬ß Vpv: PV array voltage measurement.
    ¬ß Vdc: DC voltage measurement.
    ¬ß ia: Phase_A current measurement.
    ¬ß ib: Phase_B current measurement.
    ¬ß ic: Phase_C current measurement.
    ¬ß va: Phase_A voltage measurement.
    ¬ß vb: Phase_B voltage measurement.
    ¬ß vc: Phase_C voltage measurement.
    ¬ß Iabc: Positive-sequence estimated current magnitude.
    ¬ß If: Positive-sequence estimated current frequency.
    ¬ß Vabc: Positive-sequence estimated voltage magnitude.
    ¬ß Vf: Positive-sequence estimated vurrent frequency.

### Dataset Link : 
    https://data.mendeley.com/datasets/n76t439f65/1


### Problem statemnet :
    The increasing reliance on solar energy has led to a significant increase in the
    number of solar panels installed worldwide. However, the failure of these panels 
    can result in decreased efficiency and increased costs for maintenance and repair. 
    To mitigate this, a machine learning model is required to accurately predict the 
    likelihood of solar panel failure before it occurs, allowing for proactive 
    maintenance and reducing operational costs.The model must take into account various 
    factors such as temperature, humidity, and panel age to provide accurate predictions. 
    The goal is to develop a reliable and cost-effective solution for predicting solar
    panel faults.

In [1]:
# importing required librarys :
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# loding all 16 dataframe
# # Read CSV files 
# df = pd.concat(map(pd.read_csv, ["F0L.csv","F0M.csv","F1L.csv","F1M.csv","F2L.csv","F2M.csv","F3L.csv"
#                                  ,"F3M.csv","F4L.csv","F4M.csv","F5L.csv","F5M.csv","F6L.csv","F6M.csv",
#                                 "F7L.csv","F7M.csv"]))

In [4]:
# df.shape

(2163480, 16)

In [42]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2163480 entries, 0 to 144014
Data columns (total 15 columns):
 #   Column  Dtype
---  ------  -----
 0   Time    float64
 1   Ipv     float64
 2   Vpv     float64
 3   Vdc     float64
 4   ia      float64
 5   ib      float64
 6   ic      float64
 7   va      float64
 8   vb      float64
 9   vc      float64
 10  Iabc    float64
 11  If      float64
 12  Vabc    float64
 13  Vf      float64
 14  Label   object
dtypes: float64(14), object(1)
memory usage: 264.1+ MB

In [6]:
# df = df.reset_index()

In [7]:
# df = df.drop("index" , axis = 1)

In [46]:
# df["Label"].value_counts()

F2M    144015
F6L    144015
F6M    144015
F7L    144015
F7M    144015
F4L    144014
F4M    144014
F5M    144014
F0L    143715
F5L    143015
F2L    142128
F0M    141014
F1M    139014
F1L    129013
F3L    103497
F3M     69967
Name: Label, dtype: int64

converting float64 to float32 to lower memory usage

In [47]:
# try:
#     for col in df.columns:
#         df[col] = df[col].astype("float32")
# except:
#     pass

In [48]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2163480 entries, 0 to 2163479
Data columns (total 15 columns):
 #   Column  Dtype
---  ------  -----
 0   Time    float32
 1   Ipv     float32
 2   Vpv     float32
 3   Vdc     float32
 4   ia      float32
 5   ib      float32
 6   ic      float32
 7   va      float32
 8   vb      float32
 9   vc      float32
 10  Iabc    float32
 11  If      float32
 12  Vabc    float32
 13  Vf      float32
 14  Label   object
dtypes: float32(14), object(1)
memory usage: 132.0+ MB

#### observations:
    1. meomry usage lowered  264 mb to 132 mb

In [12]:
# saving data frame
#df.to_csv("allSolardata.csv")

In [3]:
# Load the data into a Pandas DataFrame
df = pd.read_csv("allSolardata.csv")

In [5]:
df = df.drop("Unnamed: 0" ,axis = 1)

In [6]:
df

,Time,Ipv,Vpv,Vdc,ia,ib,ic,va,vb,vc,Iabc,If,Vabc,Vf,Label
0,0.000028,1.572327,101.348880,144.14062,-0.135133,0.490112,-0.354985,41.744537,-149.872900,109.06458,1.000000,50.000000,1.00000,50.000000,F0L
1,0.000128,1.503265,101.458740,143.55469,-0.108277,0.510254,-0.388555,46.831512,-150.716700,105.82998,1.000000,50.000000,1.00000,50.000000,F0L
2,0.000228,1.492859,101.574710,143.55469,-0.168702,0.496826,-0.334844,51.074677,-152.018590,102.54313,1.000000,50.000000,1.00000,50.000000,F0L
3,0.000328,1.558136,101.312256,143.26172,-0.135133,0.510254,-0.361699,55.848236,-152.585140,98.14326,1.000000,50.000000,1.00000,50.000000,F0L
4,0.000428,1.631927,101.141360,143.84766,-0.202271,0.503540,-0.321416,60.055237,-152.609250,94.26173,1.000000,50.000000,1.00000,50.000000,F0L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163475,14.399531,2.460663,86.895750,144.72656,0.012572,0.584106,-0.603398,-34.403380,-111.949615,148.86433,0.688260,49.956303,155.36127,50.003624,F7M
2163476,14.399631,2.362274,86.975100,144.72656,0.019286,0.550537,-0.536260,-29.497223,-116.361540,147.36557,0.688260,49.956303,155.36127,50.003624,F7M
2163477,14.399732,2.302673,86.694336,144.72656,-0.034425,0.610962,-0.583257,-24.301758,-118.688050,146.18022,0.688260,49.956303,155.36127,50.003624,F7M
2163478,14.399831,2.293213,87.225340,144.72656,-0.034425,0.584106,-0.502690,-19.925995,-122.473145,144.54082,0.688232,49.962692,155.36264,50.003536,F7M
2163479,14.399931,2.304565,87.414550,144.43360,-0.067994,0.631104,-0.556401,-15.152435,-124.835815,142.31476,0.688232,49.962692,155.36264,50.003536,F7M

basic stats :

In [10]:
# Labeling F and NF 
df = df.replace({"F2M" :"F","F6L": "F","F6M" :"F","F7L":"F","F7M" :"F","F4L" :"F","F4M": "F" ,"F5M":"F",
                 "F0L":"NF" ,"F5L":"F", "F2L":"F","F0M":"NF" ,"F1M":"F", "F1L":"F", "F3L":"F","F3M":"F"})

In [12]:
#finding the count of F and NF
df["Label"].value_counts()

F     1878751
NF     284729
Name: Label, dtype: int64

In [13]:
#checking for null values:
df.isna().sum()

Time     0
Ipv      0
Vpv      0
Vdc      0
ia       0
ib       0
ic       0
va       0
vb       0
vc       0
Iabc     0
If       0
Vabc     0
Vf       0
Label    0
dtype: int64

In [40]:
# Get the all faulty and non-faulty rows 
faulty = df[df['Label'] == 'F']
non_faulty = df[df['Label'] == 'NF']

In [44]:
#sampling 
faultynew = faulty.sample(n=10000,)
non_faulty_new = non_faulty.sample(n=10000)

In [45]:
faultynew

,Time,Ipv,Vpv,Vdc,ia,ib,ic,va,vb,vc,Iabc,If,Vabc,Vf,Label
538635,12.488076,2.591217,2.514648,1.171875,-0.000855,0.013428,0.000850,153.067320,-103.583830,-46.534170,0.002901,48.079247,155.31262,49.999252,F
2036765,1.729914,2.350922,86.700440,148.535160,-0.161988,-0.503540,0.625239,23.156586,120.942230,-144.412230,0.662251,49.910090,155.14061,50.007160,F
1349453,4.905704,1.526917,101.483154,143.261720,0.059569,0.355835,-0.428838,-40.322113,-108.477936,151.166730,0.469038,50.112877,155.44374,50.001495,F
578253,2.547426,1.521240,101.702880,145.312500,-0.410401,0.080566,0.417109,148.715670,-37.621918,-111.129910,0.507345,49.417840,154.98927,50.025955,F
856127,1.722665,1.551514,101.361084,144.140620,-0.101563,0.416260,-0.341558,28.062744,-145.135500,118.487144,0.458828,49.764580,154.80789,49.994130,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546725,13.296995,2.574188,2.539062,1.171875,0.005858,-0.006714,0.000850,-132.164920,137.770230,-3.829295,0.003727,46.915173,155.31488,50.000070,F
899795,6.089028,1.664093,101.080320,143.261720,-0.423829,0.040283,0.403682,127.331085,12.584839,-139.940030,0.453890,49.859543,155.11496,50.002945,F
370821,8.608409,1.419067,101.617430,143.847660,0.462401,-0.080566,-0.361699,-151.958310,59.729767,96.238655,0.485328,50.008495,155.19899,50.005630,F
1946149,7.069247,1.495697,101.513670,144.433600,-0.349977,0.429688,-0.086431,120.218960,-145.786440,27.106424,0.489826,49.973440,155.32323,50.000957,F
1779301,4.786157,2.218475,92.407230,149.414060,-0.242555,-0.503540,0.705806,39.815826,112.238920,-149.382680,0.715162,49.859684,156.15868,50.005894,F

In [46]:
non_faulty_new

,Time,Ipv,Vpv,Vdc,ia,ib,ic,va,vb,vc,Iabc,If,Vabc,Vf,Label
169069,2.535180,2.233612,89.923096,148.82812,-0.175416,-0.557251,0.658809,50.327300,105.572815,-150.069780,0.731151,50.082660,155.34805,50.000080,NF
72859,7.285185,1.529755,101.159670,143.84766,-0.484254,0.140991,0.302974,146.196290,-31.606750,-115.730690,0.510480,49.985714,154.98026,49.986640,NF
246054,10.232917,2.259155,90.728760,146.48438,-0.551393,-0.067139,0.517817,130.778660,2.205963,-136.343800,0.690993,50.177162,154.89629,50.009647,NF
164270,2.055328,2.115356,90.924070,146.48438,-0.128419,-0.510254,0.564814,39.405975,108.586426,-150.411330,0.673338,50.106037,155.21823,50.006027,NF
204756,6.103530,2.348083,90.429690,146.77734,0.509398,0.107422,-0.630254,-113.806000,-32.643433,147.634780,0.668251,50.456436,154.85860,49.999832,NF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214460,7.073831,2.278076,90.545654,146.48438,-0.437257,-0.302124,0.665522,102.740020,46.180573,-151.998490,0.685317,49.976685,154.92795,49.997715,NF
8410,0.840944,1.522186,101.208496,144.14062,-0.255982,0.510254,-0.294561,82.163086,-155.466160,73.528080,0.521085,50.126373,155.06009,49.983390,NF
143185,14.317080,1.498535,100.469970,142.96875,0.274413,0.161133,-0.482549,-91.372680,-58.415833,155.687150,0.477811,50.028030,155.45065,50.001434,NF
129652,12.963916,1.621521,101.055910,142.08984,-0.450685,0.275269,0.168696,154.670560,-88.383180,-66.468200,0.459228,49.885180,154.74321,50.002190,NF
191210,4.749066,2.284699,90.954590,147.65625,-0.517823,0.704956,-0.113286,124.269260,-144.785920,22.477518,0.716745,50.138510,155.18436,50.004710,NF

In [59]:
#concating two dataframe
df_new = pd.concat([faultynew,non_faulty_new] ,ignore_index= True )

In [61]:
#saving sampled data as csv file
df_new.to_csv("Sampled data.csv" ,index= False)

In [62]:
pd.read_csv("Sampled data.csv")

,Time,Ipv,Vpv,Vdc,ia,ib,ic,va,vb,vc,Iabc,If,Vabc,Vf,Label
0,12.488076,2.591217,2.514648,1.171875,-0.000855,0.013428,0.000850,153.067320,-103.583830,-46.534170,0.002901,48.079247,155.31262,49.999252,F
1,1.729914,2.350922,86.700440,148.535160,-0.161988,-0.503540,0.625239,23.156586,120.942230,-144.412230,0.662251,49.910090,155.14061,50.007160,F
2,4.905704,1.526917,101.483154,143.261720,0.059569,0.355835,-0.428838,-40.322113,-108.477936,151.166730,0.469038,50.112877,155.44374,50.001495,F
3,2.547426,1.521240,101.702880,145.312500,-0.410401,0.080566,0.417109,148.715670,-37.621918,-111.129910,0.507345,49.417840,154.98927,50.025955,F
4,1.722665,1.551514,101.361084,144.140620,-0.101563,0.416260,-0.341558,28.062744,-145.135500,118.487144,0.458828,49.764580,154.80789,49.994130,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,7.073831,2.278076,90.545654,146.484380,-0.437257,-0.302124,0.665522,102.740020,46.180573,-151.998490,0.685317,49.976685,154.92795,49.997715,NF
19996,0.840944,1.522186,101.208496,144.140620,-0.255982,0.510254,-0.294561,82.163086,-155.466160,73.528080,0.521085,50.126373,155.06009,49.983390,NF
19997,14.317080,1.498535,100.469970,142.968750,0.274413,0.161133,-0.482549,-91.372680,-58.415833,155.687150,0.477811,50.028030,155.45065,50.001434,NF
19998,12.963916,1.621521,101.055910,142.089840,-0.450685,0.275269,0.168696,154.670560,-88.383180,-66.468200,0.459228,49.885180,154.74321,50.002190,NF
19999,4.749066,2.284699,90.954590,147.656250,-0.517823,0.704956,-0.113286,124.269260,-144.785920,22.477518,0.716745,50.138510,155.18436,50.004710,NF